@import "./_variables";

.atc-button{
  position: absolute;
  bottom: 0;
  border: none;
  padding: 22px 50px;
  margin: 0;
  text-decoration: none;
  background: $button-background;
  color: $button-color;
  font-size: $button-size;
  font-family: $font;
  cursor: pointer;
  display: block;
  width: 100%;

  @media (min-width: #{$desktop-min-width}){
    width: auto;
    margin-left: 60px;
    position: static;
    

  }

}

.atc-button:hover,
.atc-button:focus {
    background: $button-background-hover;
}


// .atc-button--mobile{
//   display: block;
//   position: absolute;
//   width: 100%;
//   bottom: -60px;
//
// }

// .atc-button--desktop{
//   display: none;
// }
//
// @media (min-width: #{$desktop-min-width}){
//   .atc-button--mobile{
//     display: none;
//   }
//
//   .atc-button--desktop{
//     display: inline-block;
//   }
//
//
// }
