@import "./_variables";

.content{
  background-color: $background-color;
  margin-top: 60px;
  padding: 20px;


  @media (min-width: #{$desktop-min-width}){
    margin-top: 0px;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;

  }
}

.content__carousel{

  padding-right: 0px;

  img{
    width: 100%;
  }

  @media (min-width: #{$desktop-min-width}){
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding-right: 30px;

  }
}

.carousel-wrapper{

}

.content__carousel__description{

  margin: 40px 0px;

  p{
    font-family: $font-medium;
    font-size: $content__description-size;
    line-height: $line-height;
  }

  @media (min-width: #{$desktop-min-width}){
    position: relative;
    margin-top: 0px;

    p{
      position: absolute;
      bottom: 0;
    }
  }

}

.content__staticImage{
  width: 100%;

  img{
    width: 100%;
  }
}
