@import "./_variables";

.header {
  display: grid;
  grid-template-columns: 5fr 4fr 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0px 60px 0px 60px;
  margin-top: 40px;
  z-index: 50;
}
// .container {
//   grid-template-columns: 1fr 1fr 1fr;
// }

.header__logo{
  font-size: $logo-size;
  color: $nav-color;
}

.header__button{
  display: inline-block;
  font-size: $nav__button-size;
  color: $nav-color;
  line-height: 24px;
}
