@import "./_variables";

.product-detail{
  width: 50%;
  color: white;

}

.product-detail__title{
  font-size: $title-size;
}

.product-detail__price{
  font-size: $price-size;
}

.product-detail__description{
  font-size: $description-size;
  line-height: $line-height;
}
