$title-size: 28px;
$price-size: 28px;
$description-size: 14px;

.product-detail{
  width: 50%;
  color: white;

}

.product-detail__title{
  font-size: $title-size;
}

.product-detail__price{
  font-size: $price-size;
}

.product-detail__description{
  font-size: $description-size;
}
