@import "./_variables";

.video{
  background-color: $background-color;
  position: relative;
  padding-top: 56.25%;

}

.video-overlay{
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  img{
    width: 100%;
    height: 100%
  }
}

.video-overlay-hidden{
  display: none;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
