$font: 'Akzidenz Grotesk', sans-serif;

@font-face {
    font-family: "Akzidenz Grotesk";
    src: url("./fonts/AkzidenzGrotesk-Extended.otf");
}

@font-face {
    font-family: "Akzidenz Grotesk Medium";
    src: url("./fonts/AkzidenzGrotesk-MediumExtended.otf");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App{
  font-family: $font;
  // text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
