@import "./_variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App{
  font-family: $font;
}

.placeholder{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/04_1280(16x9Video).jpg");
  padding: 300px 0 0 50px;

  a{
    font-family: $font-medium;
    font-size: 28px;
    color: #ffffff;
    text-decoration: none
  }

}
