@import "./variables";

.footer {
  background-color: $background-color;
  font-family: $font-medium;
  width: 100%;
  padding-bottom: 30px;

  @media (min-width: #{$desktop-min-width}){
    display: grid;
    // Split columns 6/4
    grid-template-columns: 6fr 6fr;
    padding: 60px;
  }

}

.footer__button{
  font-size: $footer__button-size;
  color: $footer-color;
  padding: 30px 0px 0px 20px;

  @media (min-width: #{$desktop-min-width}){
    display: inline-block;
    padding: 0px;
  }
}

.footer--right{
  @media (min-width: #{$desktop-min-width}){
    text-align: right;
    .footer__button{
      margin-left: 50px;
    }
  }
}
