@import "./_variables";

.header {
  display: grid;
  // Split columns 4/4/4
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 30px 60px 30px 60px;
  z-index: 50;

  transition: transform 0.6s ease-in;

  .header--desktop{
    display: none;
  }

  .header--mobile{
    display: inline-block;
  }

  @media (min-width: #{$desktop-min-width}){
    // Split columns 5/4/1/1/1
    grid-template-columns: 5fr 4fr 1fr 1fr 1fr;

    .header--desktop{
      display: inline-block;
    }

    .header--mobile{
      display: none;
    }
  }
}

.header-disappear{
  transform: translate(0px, -200px);
}


.header__logo{
  font-family: $font-medium;
  font-size: $logo-size;
  color: $nav-color;
  cursor: pointer;
  text-decoration: none;
}

.header__button{
  font-family: $font-medium;
  font-size: $nav__button-size;
  color: $nav-color;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;


}

.header--left{
  text-align: left;
}

.header--middle{
  text-align: center;
}

.header--right{
  text-align: right;
}
