@import "./_variables";

.product-detail-button{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 22px 50px;
  margin-left: -30px;

  border: none;
  text-decoration: none;
  background: $button-background;
  color: $button-color;
  font-family: $font;
  font-size: $button-size;
  cursor: pointer;

  @media (min-width: #{$desktop-min-width}){
    width: auto;
    position: static;
    margin: 0;
  }

}

.product-detail-button:hover,
.product-detail-button:focus {
  background: $button-background-hover;
}
